body {
    height: 2020px;
}

/* header */

.header {
    width: 100%;
    height: 100px;
    background: linear-gradient(#315369, #315166);
    border-bottom: solid 3px #FCE4E7;
}

.item {
    height: 105px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
}

.menu {
    font-size: 16px;
    color: #FCE4E7;
    text-decoration: none;
    display: block;
    margin-left: 54px;
}

.menu2 {
    font-size: 16px;
    color: #FCE4E7;
    text-decoration: none;
    display: block;
    margin-left: 57px;
}

.menu3 {
    font-size: 16px;
    color: #FCE4E7;
    text-decoration: none;
    display: block;
    margin-left: 59px;
}

.menu4 {
    font-size: 16px;
    color: #FCE4E7;
    text-decoration: none;
    display: block;
    margin-left: 60px;
}

/* main */

.main {
    width: auto;
    height: auto;
    background: linear-gradient(#315166, #162735);
    z-index: 1;
    padding: 0 231px;
}

.main-top {
    text-align: center;
    padding-top: 49px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-bottom: 50px;
}

.main-top h2 {
    margin-bottom: 10px;
}

.glass {
    height: 80px;
}

.main-top h2 {
    font-size: 30px;
    text-align: center;
    color: white;
    /* padding-top: 89px; */
}

.input-form-outside {
    width: 971px;
    height: 1130px;
    background: linear-gradient(#B69E82, #483E34);
    z-index: 10;
    padding: 42px 39px 0 39px;
}

.input-form {
    width: 970px;
    height: 1089px;
    background-color: #F0EBE5;
    /* margin: 20px; */
    text-align: center;
    z-index: 20;
}

.form-top {
    width: 100%;
    height: 510px;
    display: flex;
    z-index: 30;
}

.top-left {
    width: 41%;
    height: 510px;
    background-color: darkgray;
}

.top-right {
    width: 59%;
}

.top-right input {
    width: 362px;
    height: 37px;
    font-size: 19px;
}

.date, .name, .base, .taste, .featuru, .form-middle h4 {
    font-size: 25px;
    color: #00577C;
}

.date {
    margin-top: 57px;
}

.name, .base, .taste, .featuru {
    margin-top: 40px;
}



.form-middle {
    width: 100%;
    height: auto;
    display: flex;
}

.ingredient-bottom input, .quantity-bottom input {
    width: 320px;
    height: 38px;
}

.ingredient-bottom {
    display: flex;
    flex-direction: column;
}

.quantity-bottom {
    display: flex;
    flex-direction: column;
}

/* ページトップボタン */

.main-bottom a {
    display: block;
    color: #FCE4E7;
    text-align: center;
    margin-top: 2px;
    border: 3px solid #FCE4E7;
    border-radius: 100%;
    width: 35px;
    height: 35px;
    margin: 60px auto;
}

.fas {
    font-size: 29px;
    margin-top: 2px;
}

/* footer */

.footer {
    width: 100%;
    height: 100px;
    background: linear-gradient(#003D58, #00283C);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer h3 {
    color: white;
    font-size: 24px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-shadow: 3px 3px 3px black;
    font-family: せのびゴシック;
}

.footer p {
    color: white;
    font-size: 14px;
}